<form>
  <div class = "login">
    <img src = "logo_udo.png" class = "logo">
    
    <label>Usuario</label>
    <input #user (keyup.enter)="0" (blur)="0" 
    type = "text" name = "" placeholder="Ingrese su usuario">
    
    <label>Clave</label>
    <input #psw (keyup.enter)="0" (blur)="0;"
    type = "password" name = "" placeholder="Ingrese su clave">
    
    <label>Tipo de usuario</label>
    <div class="select">
      <span class="arr"></span>
      <select [(ngModel)]="selectedOption" name="first">
          <option *ngFor="let o of options">
            {{o.name}}
          </option>
      </select>    
    </div>

    <input (click)="iniciarSesion(user.value, psw.value)" 
    type = "submit" name = "" value = "Ingresar">
    
    <p class="olvideClave">Olvide mi clave</p>
  </div>
</form>