.login-card {
    width: 300px;
    height: 400px;
    background: white;
    /*color: grey;*/
    position: absolute;
    display: block;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 26px);
}

.olvideClave, button, mat-form-field {
    width: 100%;
}

.olvideClave {
    text-align: center;
    color: crimson;
    margin-top: 30px;
}

