<form>
  <div class = "login">
    <img src = "logo_udo.png" class = "logo">
    <label>Usuario</label>
    <input type = "text" name = "" placeholder="Ingrese su usuario">
    <label>Clave</label>
    <input type = "text" name = "" placeholder="Ingrese su clave">
    <label>Tipo de usuario</label>
    <div class="dropdown">
      <select>
        <option value="Estudiante">Estudiante</option>
        <option value="Profesor">Profesor</option>
        <option value="Admin">Administrador</option>
      </select>
    </div>
    <input type = "submit" name = "" value = "ingresar">
    <p class="olvideClave">Olvide mi clave</p>
  </div>
</form>