/*ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px; 
}

.navbar-brand {
    background-color: #fff;
    color: #000000;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px; 
}

.navbar-brand span{
   margin-right: 10 px;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    float: left;
}

.nav-item2 {
    float: right;
}

li a:hover {
    background-color: #111;
}

.container {
    margin: 15px;
    padding: 0;
}*/

.nav-link {
    margin: 10px;
    font-size: 16px;
}



