<!--<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
      <a class="navbar-brand">
          <span><img src = "logo_udo.png" class = "logo"></span>
          Postgrado UDO Administrador</a>
      <ul class="nav navbar-nav" routerLinkActive="active">
          <li class="nav-item" class="active"><a class="nav-link" routerLink="home">Inicio</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="registro">Registro</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="ajustes_post">Ajustes de postgrado</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="apertura">Apertura de cohorte</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="captura">Captura de notas</a></li>
          <li class="nav-item2"><a class="nav-link" routerLink="">Salir</a></li>
      </ul>
  </div>
</nav>-->

<mat-toolbar>
    <mat-toolbar-row>
        <span><img mat-image src="logo_udo.png" class="logo"></span>
        <span><mat-label class="titulo">Postgrado UDO Administrador</mat-label></span>
        <button mat-button class="nav-link" routerLink="registro">Registro</button>
        <button mat-button class="nav-link" routerLink="ajustes_post">Postgrado</button>
        <button mat-button class="nav-link" routerLink="apertura">Cohorte</button>
        <button mat-button class="nav-link" routerLink="control">Materias</button>
        <button mat-button class="nav-link" routerLink="captura">Calificaciones</button>
        <button mat-button class="nav-link" routerLink="editar">Editar Nota</button>
        <span class="example-fill-remaining-space"></span>
        <button mat-button class="nav-link" routerLink="">Salir</button>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<app-footer></app-footer>
