div.a{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8;
    text-align: center;
    background-color: #bdbdbd;
    color: black;
    width: 100%;
    height: 25px;
    padding-top: 5px;
    position: absolute;
    bottom: 0%;
}