<mat-card class="home-card">
  <h1>Captura de calificaciones</h1>
  <div class="stepper">
    <mat-horizontal-stepper linear="true" #stepper>
      <mat-step [stepControl]="materiasFormGroup" [completed]="false">
        <form [formGroup]="materiasFormGroup">
          <mat-form-field class="materiasFormGroup">
            <mat-label>Materias</mat-label>
            <mat-select formControlName="id_cohorte" [(value)]="selected" name="usertype" required>
              <mat-option *ngFor="let lista of lista" [value]="lista">
                {{lista.nombre_materia}}
              </mat-option>
            </mat-select>
          </mat-form-field>  
          <div class="next">
              <button mat-button color="primary" (click)="pedirEstudiantes()">Siguiente</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="estudiantesFormGroup">
        <ng-template matStepLabel></ng-template>
        <div id="toPDF">
        <mat-label>Acta de calificaciones {{nombre_materia}}<br>Profesor: {{message.nombre}} {{message.apellido}}</mat-label>
        <table mat-table [dataSource]="datasource"  [formGroup]="estudiantesFormGroup">
            
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef> Calificacion
              </th>
            <div formArrayName="list"> 
              <td mat-cell *matCellDef="let row; let i = index" > 
              
                <div [formGroupName]="i">
                  <input matInput formControlName="nota" class="nota" id="nota" type="number" placeholder="Ingrese calificacion" required>
                </div>
              
              </td>
            </div>
            </ng-container>
          
            <ng-container matColumnDef="id" style.visibity="false" >
              <th mat-header-cell *matHeaderCellDef> id </th>
              <td mat-cell *matCellDef="let element"> {{element.id_estudiante}} </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre_est}} </td>
              </ng-container>
          
            <ng-container matColumnDef="apellido">
              <th mat-header-cell *matHeaderCellDef> Apellido </th>
              <td mat-cell *matCellDef="let element"> {{element.apellido_est}} </td>
            </ng-container>
          
            <ng-container matColumnDef="cedula">
              <th mat-header-cell *matHeaderCellDef> Cedula </th>
              <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
            </ng-container> 
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
          <div class="btnrsp">
            <button mat-button color="accent" (click)="cargarnota()" [disabled]="!estudiantesFormGroup.valid">Cargar notas</button>
            <mat-label class="respuesta">{{respuesta}}</mat-label>
          </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</mat-card>
