.nombre-field {
    width: 300px;
    padding-left: 17px;
}

.stepper {
    padding: 0 100px;
}

.add-materia-label {
    margin-top: 10px;
    margin-bottom: 20px;
}

.container {
    margin-left: 20px;
}

.campo {
    margin: 20px;
}

.next {
    margin-top: 20px;
}

.materia {
    height: 20px;
    line-height: 36px;
}