<mat-card class="ajustes-card">
  <h1>Creacion de curso de Postgrado</h1>
  <div class="stepper">
    <mat-horizontal-stepper linear="true" #stepper>
      <mat-step [stepControl]="firstFormGroup" [completed]="false">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Nombre de Postgrado</ng-template>
          <mat-form-field class="nombre-field">
            <input matInput #input (keyup)="input.value=$event.target.value.toUpperCase()" placeholder="Ingrese nombre del curso de Postgrado" formControlName="especialidad" required>
            <mat-hint [hidden]="!existe" >Ya existe una especialidad con este nombre</mat-hint>
          </mat-form-field>
          <div class="next">
            <button mat-button color="primary" (click)="crearPostgrado()">Siguiente</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="myForm" [completed]="false">
        <ng-template matStepLabel>Pensum</ng-template>
        <div class="add-materia-label">  
            <mat-label>Agregar materias para {{firstFormGroup.value.especialidad}}</mat-label>   
        </div>
        <div class="container">  
          <form [formGroup]="myForm" novalidate (ngSubmit)="crearPensum()">
              <div formArrayName="list">
                  <div *ngFor="let materia of myForm.controls.list.controls; let i=index">
                      <div class="materia">
                          <span>Materia {{i + 1}}</span>
                          <span *ngIf="myForm.controls.list.controls.length > 1" 
                              (click)="removeMateria(i)" >
                              <button mat-button color="warn" (click)="removeMateria(i)">Borrar</button>
                          </span>
                      </div>
          
                      <div [formGroupName]="i">
                          <mat-form-field class="campo">
                              <mat-label>Nombre</mat-label>
                              <input matInput required type="text" formControlName="nombre">
                          </mat-form-field>
                          <mat-form-field class="campo">
                              <mat-label>Codigo</mat-label>
                              <input matInput required type="text" formControlName="codigo">
                          </mat-form-field>
                          <mat-form-field class="campo">
                              <mat-label>Numero de creditos</mat-label>
                              <input matInput required type="number" formControlName="creditos">
                          </mat-form-field>
                          
                      </div>
                  </div>
              </div>
              <button mat-button color="accent" (click)="addMateria()" [disabled]="!myForm.valid">Agregar Materia</button>
              <button mat-button type="submit" color="primary" [disabled]="!myForm.valid">Guardar</button>
              <mat-label class="respuesta">{{respuesta}}</mat-label> 
          </form>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</mat-card>
